@font-face {
    font-family: 'productreg';
    src: url('productreg.ttf');
}
@font-face {
    font-family: 'productbold';
    src: url('productbold.ttf');
}
body{
	font-family: 'productreg';
	color: #FFFFFF;
	background-color: #FFFFFF;
}
.container-fluid{
	margin-top: -110px;
	padding-left: 0;
	padding-right: 0;
}
.login-header{
	background: #F9F9F9;
	text-align: center;
	border-radius: 33%;
	padding-top: 150px;
	padding-bottom: 50px;
	z-index: 700;
	position: relative;
	box-shadow: 0 10px 30px rgba(17, 17, 17, 0.10), 0 6px 12px rgba(17, 17, 17, 0.10);
	transition: all 0.6s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
.after-login{
	border-radius: 100px;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 5px;
	padding-top: 110px;
}
.login-header.after-login h4{
	font-size: 15px;
	margin-top: 0;
}
.login-header.after-login h1{
	font-size: 55px;
}
.login-header.after-login i{
	font-size: 65px;
}
.login-header h1{
	color: #333333;
	font-family: 'productbold';
	font-size: 75px;
	display: inline;
	vertical-align: middle;
	transition: all 0.6s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
.login-header i{
	color: #64b5f6;
	font-size: 100px;
	display: inline;
	vertical-align: middle;
	margin-right: 2%;
	transition: all 0.6s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
.login-header h4{
	color: #777777;
	font-size: 20px;
	transition: all 0.6s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
.module{
	transition: all 0.6s cubic-bezier(0.810, -0.330, 0.345, 1.375);
	z-index: 500;
	width: 50%;
	margin: -150px auto 50px;
	padding-top: 180px; 
	padding-bottom: 150px;
	border-radius: 100px;
	text-align: center;
	background-color: #FFFFFF;
	box-shadow: 0 10px 30px rgba(17, 17, 17, 0.10), 0 6px 12px rgba(17, 17, 17, 0.10);
}
.module-after-login{
	width: 70%;
	margin: -200px auto 50px;
}
.module input{
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 25px;
	border-radius: 25px;
	line-height: 50px;
	color: #444444;
	background-color: #FFFFFF;
	border: 3px solid #CACACA;
	text-align: inherit;
	font-size: 20px;
	outline: none;
	min-width: 500px;
}
::placeholder{
	color: #999999;
}
.module input:disabled::placeholder{
    color: #EAEAEA;
}
.module button.btn, button{
	font-family: 'productbold';
	background: #64b5f6;
	color: #FFFFFF;
	font-size: 20px;
	border-radius: 20px;
	border: none;
	outline: none;
	min-width: 250px;
	min-height: 50px;
}
button:focus, .module button.btn:focus{
	outline: 0;
}
button{
    color: #777777;
	transition: all 0.3s linear;
	background: #FFFFFF;
	font-family: 'productreg';
	border: 2px solid #888888;
	min-width: 150px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top:	20px;
	padding-left: 10px;
	padding-right: 10px;
}
input:disabled{
	color: #EAEAEA;
	border: 3px solid #EAEAEA;
}
button:disabled{
	border: 2px solid #EAEAEA;
	color: #EAEAEA;
}
button:hover:enabled{
	background: #888888;
	color: #FFFFFF;
}
button:hover:enabled h4, button:hover:enabled h5, button:hover:enabled h6{
    color: #FFFFFF;
}
h4{
    transition: all 0.3s linear;
    color: #555555;
	border-top: 2px solid #AAAAAA;
	margin-top: 30px;
	padding-top: 20px;
	max-width: 700px;
	margin: 30px auto 0;
	font-family: 'productbold';
	font-size: 35px
}
.ticket{
	display: inline-block;
	border: 2px solid #64b5f6;;
	border-radius: 20px;
	margin: 15px 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
}
.login-header h4{
	font-family: 'productreg';
	border: none;
	margin: 15px auto 0;
	padding-top: 0;
}
h5{
    transition: all 0.3s linear;
	font-family: 'productbold';
	color: #777777;
	margin-top: 20px;
	font-size: 25px
}
h6{
    transition: all 0.3s linear;
    color: #999999;
	margin-top: 10px;
	font-size: 15px
}
button.accbtns{
    border: 2px solid #64b5f6;
    background: #64b5f6;
    color: #FFFFFF;
}
button.accbtns:hover{
    border: 2px solid #888888;
}